.btn{
    border: none;
    outline: 0;
    color: $btn-main-color;
    border-radius: 1px;
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    

    &__txt{
        padding:0.3rem 2rem;
        display: block;
        transition: transform 0.3s ease;
    }
    &__icon{
        @include flex(center , center);
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        transform: translateX(-100%);
        
    }
    &-animate:hover &__txt{
        transform: translateX(100%);
        
    }
    &-animate:hover &__icon{
        transform: translateX(0);
    }
    &-sm{
        font-size: 1rem;

    }
}